a, button{
	cursor:pointer;
}

*{
	margin:0;
	padding:0;
}

ul,li{
	list-style:none;
}

a{
	color:#000;
	text-decoration: none;
}

textarea{
	resize:none;
	outline:none;
}

input,select{
	outline:none;
}


@media all and (max-width:500px) {
	
	#wrap #commentList ul li{
		flex-direction:column;
		gap:10px;
	}
	
	#wrap #commentList ul li div:first-child p{
		display:block;
	}
	
	body{
		font-size:14px;
	}
	
}


#wrap {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border:1px solid #5f7e46;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    word-break:break-all;
    margin-top:10px;
}

table, th, td {
    border: 1px solid #5f7e46;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #afd88b;
}

button {
    background-color: #afd88b;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #81ae5d;
}

a:hover {
    text-decoration: underline;
}

#wrap .topSection{
	display:flex;
	justify-content: space-between;
	align-items:end;
}

#wrap .searchBox select,
#wrap .searchBox input{
	border:1px solid #000;
}

#wrap .searchBox select{
	padding:3px;
}

#wrap .searchBox input{
	padding:4px;
}

#board_content{
	white-space:pre-wrap;
	max-height:300px;
	min-height:300px;
	overflow-y:auto;
}

.board_bar{
	display:flex;
	justify-content: space-between;
	margin-top:10px;
}

.board_bar > div:last-child{
	display:flex;
	gap:5px;
}

.board_bar > div:last-child > a{
	background-color: #afd88b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size:14px;
}

.board_bar > div:last-child > a:hover{
	text-decoration: none;
	background-color: #81ae5d;
}

#comments{
	margin-bottom:20px;
}

#comments .commentInsert{
	background-color: #eee;
	padding:10px;
	margin-top: 15px;
}

#comments .commentInsert textarea{
	border:1px solid #000;
	width: 100%;
	height:100px;
	outline:none;
	padding:5px;
	box-sizing:border-box;
	margin-top:10px;

}

#commentList li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

#commentList ul li div:first-child span{
	color:#aaa;
	font-size:12px;
}

#commentList ul li div:first-child p{
	display:inline-block;
}

#commentList ul li div:nth-child(2) p,
#commentList ul li div:nth-child(2) textarea{
	margin:10px 0;
}

#commentList ul li div:nth-child(3){
	display:flex;
	justify-content: space-between;
	align-items:center;
}

#commentList .edit-comment {
    width: 100%;
}

#commentList .edit-btn, #commentList .del-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
}

#commentList>div{
	text-align:center;
	padding:50px 0;
}

.pageNation {
    margin-top: 20px;
    text-align:center;
}

.selectPage, .selectArrow {
    cursor:auto;
	pointer-events: none;
}

.selectPage{
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #81ae5d;
	color:#fff;
}


/* board_insert */

#wrap .board_save input{
	height:30px;
}

#wrap .board_save input,
#wrap .board_save textarea{
	border:1px solid #000;
	padding:5px;
	box-sizing:border-box;
	width:100%;
}

#wrap .board_insert form div{
	margin-top:5px;
	display:flex;
	justify-content: space-between;
	align-items: end;
}

#wrap .board_insert form div button:first-child {
	margin-right:5px;
}


/* board_update */

#wrap .board_update form div:last-child{
	margin-top:10px;
}