@charset "UTF-8";

#wrap{
	width:300px;
	margin:0 auto;
	text-align:center;
}

#wrap p{
	margin:20px 0;
}

#wrap .socialBox a{
	margin-bottom:8px;
}

#wrap .socialBox a,
#wrap .socialBox a img{
	display:block;
	width:100%;
	height:auto;
}